:root {
  --main: hsl(245deg 100% 60% / 1);
}

@font-face {
  font-family: 'wotfard';
  src:url("./Wotfard-Regular.otf");
}

body {
  font-family: 'wotfard';
}

a {
  color: var(--main);
}

a:hover {
    color: var(--main);
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid var(--main);
    color: var(--main) !important;
}

.navbar-dark {
    background-color: var(--main);
}


/* about styles */
.target-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.target p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main);
    padding: 20px 0px;
    font-size: 0.9rem;
}

.target i {
    font-size: 75px;
    color: var(--main);
}

.center {
  text-align: center;
  margin-bottom: 40px;
}

.caption{
   text-align: center;
}